*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main {
    padding: 20px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Poppins', sans-serif;
    background-color: #5d4954;
}

.logo{
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 22px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226); 
    margin: 5px; 
    transition: all 0.3s ease;  
}

.hero {
    display: flex;
}

.hero img {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    object-fit: contain;   

}

h1 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

p {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}



.portfolio {
    font-family: 'Poppins', sans-serif;
    
    
}

/* .projects {
    display: flex;
    width: 90%;
   
} */

.project1 {
    display: flex; 
    width: 90%;
    margin: auto;
    justify-content: center;

}

.project1-text {
    background-color: rgb(233, 233, 19);
    padding: 20px;
    width: 45%;
    
}
.project1-img {
    background-color: rgb(15, 126, 230);
    padding: 20px;
    margin-left: 30px;
    width: 45%;
   
}

.project1-img img{
    height: 300px;
   
}
.project2 {
    display: flex; 
    width: 90%;
    margin: auto;
    justify-content: center;

}

.project2-text {
    background-color: rgb(233, 233, 19);
    padding: 20px;
    margin-left: 30px;
    width: 45%;
    order: 2;
    
}
.project2-img {
    background-color: rgb(15, 126, 230);
    padding: 20px;
    width: 45%;
    order: 1;
   
}

.project2-img img{
    height: 300px;
   
}

.project3 {
    display: flex; 
    width: 90%;
    margin: auto;
    justify-content: center;

}

.project3-text {
    background-color: rgb(233, 233, 19);
    padding: 20px;
    width: 45%;
   
    
}
.project3-img {
    background-color: rgb(15, 126, 230);
    padding: 20px;
    width: 45%;
    margin-left: 30px;
   
}

.project3-img img{
    height: 300px;
   
}
.project4 {
    display: flex; 
    width: 90%;
    margin: auto;
    justify-content: center;

}

.project4-text {
    background-color: rgb(233, 233, 19);
    padding: 20px;
    width: 45%;
    margin-left: 30px;
    order: 2;
    
}
.project4-img {
    background-color: rgb(15, 126, 230);
    padding: 20px;
    width: 45%;
    order: 1;
   
}

.project4-img img{
    height: 300px;
   
}

.aboutMe {
    display: flex; 
    font-family: 'Poppins', sans-serif;
    width: 90%;
    margin: auto;
    justify-content: center;

}

.about-text {
    background-color: rgb(233, 233, 19);
    padding: 20px;
    width: 45%;
    order: 1;
    
}
.profile-img {
    background-color: rgb(15, 126, 230);
    padding: 20px;
    margin-left: 30px;
    width: 45%;
    order: 21;
   
}

.profile-img img{
    height: 300px;
   
}
/* .projects {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    
}

.portOneText {
    background-color: aqua;
    padding: 20px;
    margin-left: 50px;
    height: 400px;
    max-width: 45%; 
    display: inline-block;
    box-sizing: border-box;
    flex: 1;

}

.portOneImg { 
    background-color: blue;
    padding: 20px;
    margin-right: 50px;
    box-sizing: border-box;
    height: 400px;
    max-width: 45%;
    display: inline-block;
    flex: 1;
    
}


.portOneImg img {
    max-width: 100%;
    height: 100%;
    object-fit: contain;   
}

.portTwoText {
    background-color: aqua;
    padding: 20px;
    margin-left: 50px;
    height: 400px;
    max-width: 45%; 
    display: inline-block;
    box-sizing: border-box;

}

.portTwoImg { 
    background-color: blue;
    padding: 20px;
    margin-right: 50px;
    box-sizing: border-box;
    height: 400px;
    max-width: 45%;
    display: inline-block;
    
}


.portTwoImg img {
    max-width: 100%;
    height: 100%;
    object-fit: contain;   
}

.about {
    font-family: 'Poppins', sans-serif;
    text-align: center;    
} */



@media screen and (min-width:900px){
    .projects {
    display: flex;
    justify-content: space-between;
    }
}

/* @media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #5d4954;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }

    .burger{
        display: block;
    }
}

    .nav-active{
        transform: translateX(0%);
    }

    @keyframes navLinkFade{
        from{
opacity: 0;
transform: translateX(50px);
        }

        to{
opacity: 1;
transform: translateX(0px);
        }
    }

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
opacity: 0;
}
.toggle  .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

